<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Notification access is granted by the user via system settings (ACTION_NOTIFICATION_LISTENER_SETTINGS). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" tools:node="remove" />

    <application
        android:name=".LuxWalletApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuxWallet"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.LuxWallet"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity-alias android:name=".LumiCalm" android:targetActivity=".MainActivity"
            android:exported="true" android:enabled="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>

        <activity-alias android:name=".LumiHappy" android:targetActivity=".MainActivity"
            android:exported="true" android:enabled="false" android:icon="@mipmap/ic_lumi_happy" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>

        <activity-alias android:name=".LumiFocus" android:targetActivity=".MainActivity"
            android:exported="true" android:enabled="false" android:icon="@mipmap/ic_lumi_focus" android:label="@string/app_name">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity-alias>

        <service
            android:name=".notification.LuxNotificationListenerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>
</manifest>
